<div class="text-center">
  <h2>{{name}}</h2>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <form class="form update-form">
    <div class="form-group">
      <textarea class="form-input" id="update-name" name="update-name" placeholder="{{name}}"></textarea>
    </div>
    <div class="form-group">
      <textarea class="form-input" id="update-desc" name="update-desc" placeholder="{{description}}"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
</div>
</form>


{{#if comments.length}}
<div class="col-md-6 comment-list">
  <h3>Comments:</h3>

  {{#each comments as |comment|}}
  <div class="row mb-2">
    <div class="col-md-8">
      <h4><a href="/comment/{{comment.id}}">{{comment.description}}</a></h4>
    </div>
    <div class="col-md-5">
      <p>Created by
        {{comment.user.name}}
        on
        {{format_date comment.date_created}}</p>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}

<form class="form new-comment-form" data-blog_id = {{id}}>
  <div class="form-group">
    <label for="comment">Comment:</label>
    <textarea class="form-input" id="comment" name="comment"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Post Comment</button>
  </div>
  </div>
</form>

<script src="/js/blog.js"></script>